* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

html,
body {
    width: 100%;
    height: 1000px;
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.main {
    width: 100%;
    height: 800px;
    perspective: 800;
    border-bottom-left-radius: 40%;
    overflow: hidden;
    position: relative;
}

.cubeBox {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -200px 0 0 -200px;
    transform-style: preserve-3d;
}

.bg {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.cube {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    transform-style: preserve-3d;
    transform: rotateX(-10deg) rotateY(45deg);
    animation: move 15s linear infinite;
    /*动画设置*/
}

.cube :link {
    animation-play-state: paused;
}

.cube li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 2s ease;
}

.cube li video {
    width: 100%;
    height: 100%;
}

.cube li:nth-child(1) {
    transform: rotateX(0deg) translateZ(100px);
}

.cube li:nth-child(2) {
    transform: rotateX(180deg) translateZ(100px);
}

/*.cube li:nth-child(3) {
    transform: rotateX(-90deg) translateZ(100px);
}
.cube li:nth-child(3) {
    transform: rotateX(90deg) translateZ(100px);
}*/
.cube li:nth-child(3) {
    transform: rotateY(-90deg) translateZ(100px);
}

.cube li:nth-child(4) {
    transform: rotateY(90deg) translateZ(100px);
}

.bigCube {
    width: 400px;
    height: 400px;
    margin: -100px 0 0 -100px;
}

.bigCube li:nth-child(1) {
    transform: rotateX(0deg) translateZ(200px);
}

.bigCube li:nth-child(2) {
    transform: rotateX(180deg) translateZ(200px);
}

.bigCube li:nth-child(3) {
    transform: rotateX(-90deg) translateZ(110px);
}

.bigCube li:nth-child(4) {
    transform: rotateX(90deg) translateZ(110px);
}

.bigCube li:nth-child(5) {
    transform: rotateY(-90deg) translateZ(200px);
}

.bigCube li:nth-child(6) {
    transform: rotateY(90deg) translateZ(200px);
}

/* .bigCube li:nth-child(1){
	transform: rotateX(360deg) translateZ(100px);
}
.bigCube li:nth-child(2){
	transform: rotateX(-180deg) translateZ(100px);
}
.bigCube li:nth-child(3){
	transform: rotateX(90deg) translateZ(100px);
}
.bigCube li:nth-child(4){
	transform: rotateX(-90deg) translateZ(100px);
}
.bigCube li:nth-child(5){
	transform: rotateY(90deg) translateZ(100px);
}
.bigCube li:nth-child(6){
	transform: rotateY(-90deg) translateZ(100px);
} */
@keyframes move {
    0% {
        transform: rotateX(-13deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-13deg) rotateY(360deg);
    }
}

.cubeBox:hover .bigCube li:nth-child(1) {
    transform: rotateX(0deg) translateZ(400px);
}

.cubeBox:hover .bigCube li:nth-child(2) {
    transform: rotateX(180deg) translateZ(400px);
}

.cubeBox:hover .bigCube li:nth-child(3) {
    transform: rotateX(-90deg) translateZ(200px);
}

.cubeBox:hover .bigCube li:nth-child(4) {
    transform: rotateX(90deg) translateZ(200px);
}

.cubeBox:hover .bigCube li:nth-child(5) {
    transform: rotateY(-90deg) translateZ(400px);
}

.cubeBox:hover .bigCube li:nth-child(6) {
    transform: rotateY(90deg) translateZ(400px);
}

.cube img {
    width: 200px;
    height: 200px;
}

.bigCube .bigCubeImg {
    width: 400px;
    height: 400px;
}



/*翻转*/
.all {
    width: 1500px;
    height: 350px;
    /* margin: 550px 200px;
    position: absolute; */
}

.all li {
    width: 300px;
    height: 300px;
    float: left;
    margin-right: 100px;
    transform-style: preserve-3d;
    perspective: 2000px;

}

.show {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: 1.2s;
}

.first,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    transform-style: preserve-3d;
    /* border: 8px solid whitesmoke; */

}

.back {
    transform: rotateY(180deg);
    transform: translateZ(-1px);
    background-color: white;
    z-index: 1;
    animation: out-big 2s infinite;
}

.first {
    animation: out-small 2s infinite;
}

.in {
    width: 100%;
    height: 100%;
    transform: translateZ(-2px);
    transform-style: preserve-3d;
    text-align: center;
    color: darkblue;
    padding: 10px;
    box-sizing: border-box;
    transform: rotateY(-180deg);
}

.in h2 {
    margin-top: 50px;
}

.in p {
    margin-top: 20px;
}

.all li:hover .show {
    transform: rotateY(-180deg);
}

.return {
    position: absolute;
    top: 55%;
    left: 15%;

}

/*fanzhuan*/
.content {
    position: relative;
    height: 1000px;
    width: 100%;
    overflow: hidden;
}

.fontbox {
    position: absolute;
    /* margin-top: 200px;

    margin-left: 400px; */
    top: 20%;

    left: 25%;

}

h1 {
    color: #fff;
    padding-bottom: 20px;
    padding-left: 25px;

}

.small_font {
    color: darkblue;

    font-size: large;
    font-weight: 700;
    padding-left: 50px;
}

.main_font {
    width: 800px;
    padding-top: 30px;
    font-size: larger;
    line-height: 33px;
    color: #fff;
}

/* .show {
    animation: out 2s infinite;
    border-radius: 50%;

}*/

@keyframes out-small {
    0% {
        box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
    }

    100% {
        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.5);
    }
}

@keyframes out-big {
    0% {
        box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.5);
    }

    100% {
        box-shadow: 0px 0px 15px 18px rgba(255, 255, 255, 0.5);
    }
}